@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {background-color: #e6e6f5}
#cabeceiraprincipal {background-color: #9292a8;
							padding: 0}
							
#navbar {
	overflow: auto; / *define o que fai se o tamaño e moi grande*/
	height: 100%;
	width: 100%;
	padding: 0
}

#navbar a {
	color: #000; /*cor do enlace de cor negro*/
}


#navbar img {
	height: 100px;
	float: left;
}

#navbar ul {
	list-style: none; /*lle quitamos os puntos a lista non ordeada*/
	float: right; /*mandamos o menú a dereita do contenedor*/

}

#navbar ul li {
	float: left; /*en vez de listarse os list items, (li) en vertical, se teñen que poñer xuntos na mesma liña*/ 
}

#navbar ul li a { 
	display: block;
	padding: 20px;
	text-align: center;
	font-size: 26px;
	font-family: 'Abril Fatface';
	color: #4c4c57 ;

}

a {text-decoration: none;}

.container {
	margin: auto; /* 0px de marxen vertical, centrado horizontalmente */
	max-width: 1300px; /*coloca o ancho de 1300px como valor máximo do container*/
	overflow: auto;
	padding: 20px; /*crea un espacio en los bordes*/}
	
#secreto {text-align: center;}

p{font-size: 1.4rem;
	font-family: 'Abril Fatface'; }
